argcomplete==3.3.0
asgiref==3.8.1
beautifulsoup4==4.12.3
boto3==1.35.12
botocore==1.35.12
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==41.0.7
dj-database-url==1.0.0
Django==5.0.7
gunicorn==23.0.0  # Required for Heroku to serve Django
humanize==3.13.1
idna==3.7
mysqlclient==2.2.4  # Only keep this if you use MySQL. If not, remove this.
pillow==10.3.0
psycopg2-binary==2.9.9
pycparser==2.20
python-dateutil==2.8.2
PySocks==1.7.1
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.5.1
urllib3==1.26.19
whitenoise==6.7.0  # Needed for static files in production